@media (max-width: 1366px) {
    .finance__wrapper {
        margin-left: 300px;
    }
    .goods__block {
        line-height: 140%;
        max-width: 678px;
        margin: 0;
        margin-left: 402px;
    }
    .autohelp__wrapper {
        margin-left: 402px;
    }
    .volunt__wrapper {
        margin-left: 129px;
    }
    .news__wrapper {
        margin: 0;
        margin-left: 304px;
    }
    .about__wrapper {
        margin-left: 402px;
    }
}
